/********************************************* Buscador *********************************************/

/************************** Pantallas Tablets **************************/
@media screen and (min-width: 375px) and (max-width: 767px){
  .contenedor-busqueda{

  }

  /******** Alto de los inputs y boton vamos ********/
  .input-pais, .input-provincia, .fecha-viaje, .btn-vamos{
    height: 40px;
  }
  /******** Fin alto de los inputs y boton vamos ********/

  .input-pais{
    margin-top: 5px;
  }
  /***** Le damos un margen top al buscador de provincia *****/
  .input-provincia{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /***** Fin le damos un margen top al buscador de provincia *****/
  .btn-vamos{
    top: 5px;
  }
}
/************************ Fin Pantallas Tablets ************************/

/************************** Pantallas Tablets **************************/
@media screen and (min-width: 768px){
  .contenedor-busqueda{
    width: 80%;
    position: relative;
    left: 15%;
    float: left;
    box-sizing: inherit;
  }

  /********* Alto de los inputs y boton vamos *********/
  .input-pais, .input-provincia, .fecha-viaje, .btn-vamos{
    height: 50px;
  }
  /********* Fin alto de los inputs y boton vamos *********/

  /***** Le damos un margen top al buscador de provincia *****/
  .input-provincia{
    margin-top: 7px;
    margin-bottom: 7px;
  }
  /***** Fin le damos un margen top al buscador de provincia *****/
  .btn-vamos{
    top: 7px;
  }
}
/************************ Fin Pantallas Tablets ************************/

/************************** Pantallas Grandes **************************/
@media screen and (min-width: 991px){
  .contenedor-busqueda{
    width: 60%;
    position: relative;
    left: 20%;
    float: left;
    box-sizing: inherit;
  }
  /********* Alto de los inputs y boton vamos *********/
  .input-pais, .input-provincia, .fecha-viaje, .btn-vamos{
    height: 50px;
  }
  /********* Fin alto de los inputs y boton vamos *********/

  /***** Le damos un margen top al buscador de provincia *****/
  .input-provincia{
    margin-top:10px;
    margin-bottom: 10px;
  }
  /***** Fin le damos un margen top al buscador de provincia *****/
  .btn-vamos{
    top: 10px;
  }

}
/************************ Fin Pantallas Grandes ************************/
/******************************************* Fin Buscador *******************************************/
.redondear-puntas{
  border-radius: 4px;
  padding: 10px;
}

.pais{
  display: inline-block;
}

/********************* Focus del campo pais y provincia *********************/
.input-pais:focus, .input-provincia:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 97, 0, 0.25);
  border: 1px solid orange !important;
}
/********************* Fin focus del campo pais y provincia *********************/

/********************* Boton fecha de viaje *********************/
.fecha-viaje{
  color: #ffffff;
  font-weight: 400;
  background: #474a4c;
  box-shadow: 1px 2px 3px black;
  border: 1px solid #3a3a3a;

}
.fecha-viaje:hover{
  background: #525659;
}
.fecha-viaje:active{
  box-shadow:none;
}
.fa-calendar{
  color: #ff5400;
}
/********************* Fin boton fecha de viaje *********************/

/********************* Boton vamos *********************/
.btn-vamos{
  background: #ce4400;
  border-color: #892d00;
  color: #ffffff;
  font-weight: 400;
}
.btn-vamos:active{
  border-color: #ff7b3a;
}
.btn-vamos:focus{
  box-shadow: none;
}
.btn-vamos:hover{
  background: #e24d04;
}
/********************* Fin boton vamos *********************/


/************************* CAROUSEL DE CARDS ****************************/
.carousel-propio{
  background: red;
}
@media screen and (min-width: 991px){
  .carousel-propio{
    width: 61.3rem;
    height: 417px;
    overflow: hidden;
    justify-content: center;
    position:relative;
    left: 60px;
  }

  .carousel-propio ul li{
    margin-right: 10px;
  }

}
/******************** FLECHAS DEL SLIDE ********************/
.prev, .sig{
  position: absolute;
  background: black;
  height: inherit;
}

.sig{
  left: 97%;
}

.prev{
  left: 0;
}

.fa-chevron-left, .fa-chevron-right{
  top:45%;
  position: inherit;
}

.fa-chevron-right{
  z-index: 2000;
  position: inherit;
}
/****************** FIN FLECHAS DEL SLIDE ******************/

.carousel-propio ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-left:0;
}

/*********************** FIN CAROUSEL DE CARDS **************************/







