<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Navbar</a> ACA HAY QUE METERLE EL LOGO -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ title }} <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0 btn-navbar cpointer reg-hover" type="submit">Registrá tu alojamiento</button>&nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0 cpointer" type="submit">Iniciar Sesión</button>
    </form>
  </div>
</nav>
<!-- PRINCIPAL -->
<div class="container">

  <router-outlet></router-outlet>

</div>
<div class="footer-page">
    <i>Pagina creada por Flavio Alfaro &copy;</i>
</div>

